.container {
  max-width: 600px;
  text-align: center;
  margin: auto;
  width: fixed;
}
.primary-heading {
  color: #007bff;
  margin-top: 40px;
  font-size: 50px;
}

input {
  font-size: 20px;
  padding: 10px 50px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.btn {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border: #ddd 1px solid;
  cursor: pointer;
  margin: auto;
}

.btn--submit {
  background-color: #007bff;
  color: #f4f4f4;
  font-size: larger;
}
.btn--delete {
  background-color: #007bff;
  color: #f4f4f4;
  font-size: larger;
  display: inline;
  /* margin-right: 1px; */
  /* padding-right: 15px; */
}

.btn--done {
  background-color: #007bff;
  color: #f4f4f4;
  font-size: larger;
  display: inline;
}
.btn--edit {
  background-color: #007bff;
  color: #f4f4f4;
  font-size: larger;
  display: inline;
}

.btn--submit:hover {
  background-color: rgb(29, 29, 219);
}
.btn--delete:hover {
  background-color: rgb(29, 29, 219);
}
.btn--done:hover {
  background-color: rgb(29, 29, 219);
}
.btn--edit:hover {
  background-color: rgb(29, 29, 219);
}

.todo {
  text-align: center;
  margin-top: 20px;
  padding-left: 30px;
}

.todo--list {
  list-style: none;
  text-align: left;
  background-color: #f4f4f4;

  /* position: fixed; */
}

.work-container {
  display: flex;
  flex: auto;
}

.work {
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
  font-size: larger;
}

.select-work {
  margin-right: 1rem;
  font-size: 2rem;
}

.hidden {
  display: none;
}


.completed{
  background-color: #45e040;
}